<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>Cari Barang</title>
</head>

<body>
  <nav th:replace="~{fragments/navbar :: navbar(activePage='gudang')}"></nav>
  <div class="container">
    <div class="text-center pt-5">
      <h2 style="font-weight: bold;">Cari Barang</h2>
    </div>
    <div class="row justify-content-center float-center" style="margin-top: 100px;">        
      <form method="GET">
        <div class="input-group" style="width: 1000px;margin: auto;">
          <select th:if="${selectedBarang} != null" class="form-select" name="sku">
              <option th:value="${selectedBarang.sku}" th:text="${selectedBarang.merkBarang}" selected hidden></option>
              <option th:each="barang: ${listBarang}"
                      th:value="${barang.sku}" th:text="${barang.merkBarang}"></option>
          </select>
          <select th:if="${selectedBarang} == null" class="form-select" name="sku">
              <option th:each="barang: ${listBarang}"
                      th:value="${barang.sku}" th:text="${barang.merkBarang}"></option>
          </select>
          <button type="submit" class="btn btn-primary">Cari</button>
        </div>
      </form>  
    </div>
      
        
    <table th:if="${listGudangBarang} != null" class=" table table-bordered" style="margin-top: 30px;">
      <thead>
          <tr class="table-dark">
              <th class="text-center">No</th>
              <th class="text-center">Nama</th>
              <th class="text-center">Alamat Gudang</th>
              <th class="text-center">Stok</th>
          </tr>
      </thead>
      <tbody>
          <tr class="text-center" th:each="gudangBarang, iterationStatus: ${listGudangBarang}">
              <td class="text-center" th:text="${iterationStatus.index+1}"></td>
              <td class="text-center"><a th:href="@{/gudang/{idGudang}(idGudang=${gudangBarang.gudang.idGudang})}" th:text="${gudangBarang.gudang.namaGudang}"></a></td>
              <td class="text-center" th:text="${gudangBarang.gudang.alamatGudang}"></td>
              <td class="text-center" th:text="${gudangBarang.stok}"></td>
          </tr>
      </tbody>
      </table>
  </div>
</body>

</html>